<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        Deliberately no <uses-permission> for INTERNET, ACCESS_NETWORK_STATE, or anything
        else network-related. OpenZilla cannot reach the network even if some future code
        tried to: the OS denies socket access to apps that never declared the permission.
        This is the strongest guarantee we can give that "100% local" actually holds.
    -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".OpenZillaApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenZilla"
        android:hardwareAccelerated="true"
        tools:targetApi="34"
        xmlns:tools="http://schemas.android.com/tools">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.OpenZilla"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
